@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@layer utilities {
    .snap {
        scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
    }
    .snap-y {
        --scroll-snap-direction: y;
    }

    .snap-x {
        --scroll-snap-direction: x;
    }
    .snap-mandatory {
        --scroll-snap-constraint: mandatory;
    }
    .snap-start {
        scroll-snap-align: start;
    }
}

.btn {
    @apply font-bold py-2 px-4 rounded;
    margin-bottom: 2rem;
}
.btn-primary {
    @apply bg-primary text-white;
}
.btn-primary:hover {
    @apply bg-secondary;
}

.scale-on-hover {
    @apply transform transition duration-500 hover:scale-110
}
